USE [master]
GO
/****** Object:  Database [eStudentDB]    Script Date: 7/14/2026 6:15:03 PM ******/
CREATE DATABASE [eStudentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eStudentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\eStudentDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eStudentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\eStudentDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eStudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eStudentDB]
GO
/****** Object:  Table [dbo].[AiKnowledgeChunks]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AiKnowledgeChunks](
	[AiKnowledgeChunkId] [int] IDENTITY(1,1) NOT NULL,
	[ResourceId] [int] NULL,
	[ChunkIndex] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Metadata] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AiKnowledgeChunkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AiKnowledgeChunks] UNIQUE NONCLUSTERED 
(
	[ResourceId] ASC,
	[ChunkIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AiRecommendationRuns]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AiRecommendationRuns](
	[AiRunId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[SubjectId] [int] NULL,
	[SourceType] [nvarchar](50) NOT NULL,
	[SourceId] [nvarchar](100) NULL,
	[ModelName] [nvarchar](100) NULL,
	[InputSnapshot] [nvarchar](max) NOT NULL,
	[OutputSummary] [nvarchar](max) NULL,
	[Confidence] [decimal](5, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AiRunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessments]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessments](
	[AssessmentId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[TeacherId] [uniqueidentifier] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[AssessmentTypeId] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[AssessmentDate] [date] NOT NULL,
	[MaxScore] [decimal](5, 2) NOT NULL,
	[Weight] [decimal](5, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssessmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssessmentSkillEvaluations]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentSkillEvaluations](
	[EvaluationId] [int] IDENTITY(1,1) NOT NULL,
	[StudentMarkId] [int] NOT NULL,
	[SkillAreaId] [int] NOT NULL,
	[MasteryLevel] [decimal](5, 2) NULL,
	[Strengths] [nvarchar](max) NULL,
	[Weaknesses] [nvarchar](max) NULL,
	[TeacherFeedback] [nvarchar](max) NULL,
	[Evidence] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EvaluationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AssessmentSkillEvaluations] UNIQUE NONCLUSTERED 
(
	[StudentMarkId] ASC,
	[SkillAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssessmentTypes]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentTypes](
	[AssessmentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DefaultWeight] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssessmentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceRecords]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecords](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[LessonSessionId] [int] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[RecordedBy] [uniqueidentifier] NOT NULL,
	[RecordedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Attendance] UNIQUE NONCLUSTERED 
(
	[LessonSessionId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatGroupMembers]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatGroupMembers](
	[ChatGroupId] [int] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
	[LeftAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatGroupId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatGroups]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatGroups](
	[ChatGroupId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[SchoolYearId] [int] NOT NULL,
	[GroupType] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ChatGroups] UNIQUE NONCLUSTERED 
(
	[ClassId] ASC,
	[SchoolYearId] ASC,
	[GroupType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[ChatMessageId] [int] IDENTITY(1,1) NOT NULL,
	[ChatGroupId] [int] NOT NULL,
	[SenderUserId] [uniqueidentifier] NOT NULL,
	[MessageText] [nvarchar](max) NULL,
	[AttachmentUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassEnrollments]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassEnrollments](
	[EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[EnrolledAt] [date] NOT NULL,
	[LeftAt] [date] NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ClassEnrollments] UNIQUE NONCLUSTERED 
(
	[ClassId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[SchoolYearId] [int] NOT NULL,
	[GradeId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[HomeroomTeacherId] [uniqueidentifier] NULL,
	[TrainingProgram] [nvarchar](30) NOT NULL,
	[Room] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[StudentLimit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Classes] UNIQUE NONCLUSTERED 
(
	[SchoolYearId] ASC,
	[Name] ASC,
	[TrainingProgram] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackTickets]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackTickets](
	[FeedbackTicketId] [int] IDENTITY(1,1) NOT NULL,
	[SenderUserId] [uniqueidentifier] NOT NULL,
	[RelatedStudentId] [uniqueidentifier] NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Subject] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[HandledBy] [uniqueidentifier] NULL,
	[HandledAt] [datetime2](7) NULL,
	[AdminResponse] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackTicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningPathItems]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningPathItems](
	[LearningPathItemId] [int] IDENTITY(1,1) NOT NULL,
	[LearningPathId] [int] NOT NULL,
	[SkillAreaId] [int] NULL,
	[ResourceId] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Priority] [tinyint] NOT NULL,
	[DueDate] [date] NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LearningPathItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningPaths]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningPaths](
	[LearningPathId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[AiRunId] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Goal] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[StartDate] [date] NOT NULL,
	[TargetEndDate] [date] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LearningPathId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonSessions]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonSessions](
	[LessonSessionId] [int] IDENTITY(1,1) NOT NULL,
	[TimetableSlotId] [int] NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[TeacherId] [uniqueidentifier] NOT NULL,
	[SessionDate] [date] NOT NULL,
	[PeriodNo] [tinyint] NOT NULL,
	[Room] [nvarchar](50) NULL,
	[Topic] [nvarchar](255) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsPosts]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsPosts](
	[NewsPostId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorUserId] [uniqueidentifier] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CoverImageUrl] [nvarchar](500) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[PublishedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationRecipients]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationRecipients](
	[NotificationId] [int] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ReadAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[SenderUserId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[TargetType] [nvarchar](30) NOT NULL,
	[TargetId] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parents]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parents](
	[ParentId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Occupation] [nvarchar](120) NULL,
	[Address] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationRequests]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[RoleRequested] [nvarchar](30) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[ReviewedBy] [uniqueidentifier] NULL,
	[ReviewNotes] [nvarchar](max) NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchoolContacts]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolContacts](
	[SchoolContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Phone] [nvarchar](30) NULL,
	[Address] [nvarchar](max) NULL,
	[WorkingHours] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SchoolContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchoolYears]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolYears](
	[SchoolYearId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsCurrent] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SchoolYearId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[SemesterId] [int] IDENTITY(1,1) NOT NULL,
	[SchoolYearId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Semesters] UNIQUE NONCLUSTERED 
(
	[SchoolYearId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillAreas]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillAreas](
	[SkillAreaId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SkillAreas] UNIQUE NONCLUSTERED 
(
	[SubjectId] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGradeProgressions]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGradeProgressions](
	[progressionId] [int] IDENTITY(1,1) NOT NULL,
	[studentId] [uniqueidentifier] NOT NULL,
	[schoolYearId] [int] NOT NULL,
	[previousGrade] [int] NULL,
	[newGrade] [int] NOT NULL,
	[reason] [nvarchar](100) NULL,
	[progressedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[progressionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentMarks]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMarks](
	[StudentMarkId] [int] IDENTITY(1,1) NOT NULL,
	[AssessmentId] [int] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[Score] [decimal](5, 2) NOT NULL,
	[TeacherComment] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[GradedBy] [uniqueidentifier] NOT NULL,
	[GradedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentMarkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StudentMarks] UNIQUE NONCLUSTERED 
(
	[AssessmentId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentParentLinks]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentParentLinks](
	[StudentId] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NOT NULL,
	[Relationship] [nvarchar](50) NOT NULL,
	[IsPrimaryContact] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[StudentCode] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](20) NULL,
	[Address] [nvarchar](max) NULL,
	[AdmissionDate] [date] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CurrentGrade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyResources]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyResources](
	[ResourceId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[ClassId] [int] NULL,
	[UploadedBy] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ResourceType] [nvarchar](30) NOT NULL,
	[FileUrl] [nvarchar](500) NOT NULL,
	[ThumbnailUrl] [nvarchar](500) NULL,
	[Visibility] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](30) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherClassAssignments]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherClassAssignments](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [uniqueidentifier] NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[SchoolYearId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TeacherClassAssignments] UNIQUE NONCLUSTERED 
(
	[TeacherId] ASC,
	[ClassId] ASC,
	[SubjectId] ASC,
	[SchoolYearId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Qualification] [nvarchar](150) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimetableSlots]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimetableSlots](
	[TimetableSlotId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[TeacherId] [uniqueidentifier] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[DayOfWeek] [tinyint] NOT NULL,
	[PeriodNo] [tinyint] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Room] [nvarchar](50) NULL,
	[EffectiveFrom] [date] NOT NULL,
	[EffectiveTo] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TimetableSlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/14/2026 6:15:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [int] NOT NULL,
	[Username] [nvarchar](80) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Phone] [nvarchar](30) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AiRuns_StudentSubject]    Script Date: 7/14/2026 6:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_AiRuns_StudentSubject] ON [dbo].[AiRecommendationRuns]
(
	[StudentId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Attendance_Student]    Script Date: 7/14/2026 6:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Attendance_Student] ON [dbo].[AttendanceRecords]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassEnrollments_Student]    Script Date: 7/14/2026 6:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClassEnrollments_Student] ON [dbo].[ClassEnrollments]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Classes_YearGrade]    Script Date: 7/14/2026 6:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Classes_YearGrade] ON [dbo].[Classes]
(
	[SchoolYearId] ASC,
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_ClassDate]    Script Date: 7/14/2026 6:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_ClassDate] ON [dbo].[LessonSessions]
(
	[ClassId] ASC,
	[SessionDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_News_Category]    Script Date: 7/14/2026 6:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_News_Category] ON [dbo].[NewsPosts]
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RegReq_Status]    Script Date: 7/14/2026 6:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_RegReq_Status] ON [dbo].[RegistrationRequests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentMarks_Student]    Script Date: 7/14/2026 6:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentMarks_Student] ON [dbo].[StudentMarks]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Resources_SubjectClass]    Script Date: 7/14/2026 6:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Resources_SubjectClass] ON [dbo].[StudyResources]
(
	[SubjectId] ASC,
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Timetable_ClassDay]    Script Date: 7/14/2026 6:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Timetable_ClassDay] ON [dbo].[TimetableSlots]
(
	[ClassId] ASC,
	[DayOfWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 7/14/2026 6:15:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AiKnowledgeChunks] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AiRecommendationRuns] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Assessments] ADD  DEFAULT ((10)) FOR [MaxScore]
GO
ALTER TABLE [dbo].[Assessments] ADD  DEFAULT ((1)) FOR [Weight]
GO
ALTER TABLE [dbo].[Assessments] ADD  DEFAULT ('SCHEDULED') FOR [Status]
GO
ALTER TABLE [dbo].[Assessments] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AssessmentSkillEvaluations] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AssessmentTypes] ADD  DEFAULT ((1)) FOR [DefaultWeight]
GO
ALTER TABLE [dbo].[AttendanceRecords] ADD  DEFAULT (sysdatetime()) FOR [RecordedAt]
GO
ALTER TABLE [dbo].[ChatGroupMembers] ADD  DEFAULT (sysdatetime()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[ChatGroups] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClassEnrollments] ADD  DEFAULT (CONVERT([date],getdate())) FOR [EnrolledAt]
GO
ALTER TABLE [dbo].[ClassEnrollments] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ('REGULAR') FOR [TrainingProgram]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ((40)) FOR [StudentLimit]
GO
ALTER TABLE [dbo].[FeedbackTickets] ADD  DEFAULT ('OPEN') FOR [Status]
GO
ALTER TABLE [dbo].[FeedbackTickets] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LearningPathItems] ADD  DEFAULT ((3)) FOR [Priority]
GO
ALTER TABLE [dbo].[LearningPathItems] ADD  DEFAULT ('TODO') FOR [Status]
GO
ALTER TABLE [dbo].[LearningPaths] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[LearningPaths] ADD  DEFAULT (CONVERT([date],getdate())) FOR [StartDate]
GO
ALTER TABLE [dbo].[LearningPaths] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LessonSessions] ADD  DEFAULT ('SCHEDULED') FOR [Status]
GO
ALTER TABLE [dbo].[LessonSessions] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NewsPosts] ADD  DEFAULT ('GENERAL') FOR [Category]
GO
ALTER TABLE [dbo].[NewsPosts] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[NewsPosts] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NewsPosts] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Parents] ADD  DEFAULT (newid()) FOR [ParentId]
GO
ALTER TABLE [dbo].[Parents] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RegistrationRequests] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[RegistrationRequests] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SchoolContacts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SchoolYears] ADD  DEFAULT ((0)) FOR [IsCurrent]
GO
ALTER TABLE [dbo].[StudentGradeProgressions] ADD  DEFAULT (getdate()) FOR [progressedAt]
GO
ALTER TABLE [dbo].[StudentMarks] ADD  DEFAULT (sysdatetime()) FOR [GradedAt]
GO
ALTER TABLE [dbo].[StudentParentLinks] ADD  DEFAULT ((0)) FOR [IsPrimaryContact]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (newid()) FOR [StudentId]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (CONVERT([date],getdate())) FOR [AdmissionDate]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StudyResources] ADD  DEFAULT ('CLASS_ONLY') FOR [Visibility]
GO
ALTER TABLE [dbo].[StudyResources] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT (newid()) FOR [TeacherId]
GO
ALTER TABLE [dbo].[Teachers] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AiKnowledgeChunks]  WITH CHECK ADD  CONSTRAINT [FK_AiChunks_Resources] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[StudyResources] ([ResourceId])
GO
ALTER TABLE [dbo].[AiKnowledgeChunks] CHECK CONSTRAINT [FK_AiChunks_Resources]
GO
ALTER TABLE [dbo].[AiRecommendationRuns]  WITH CHECK ADD  CONSTRAINT [FK_AiRuns_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[AiRecommendationRuns] CHECK CONSTRAINT [FK_AiRuns_Students]
GO
ALTER TABLE [dbo].[AiRecommendationRuns]  WITH CHECK ADD  CONSTRAINT [FK_AiRuns_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[AiRecommendationRuns] CHECK CONSTRAINT [FK_AiRuns_Subjects]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [FK_Assessments_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassId])
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [FK_Assessments_Classes]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [FK_Assessments_Semesters] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([SemesterId])
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [FK_Assessments_Semesters]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [FK_Assessments_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [FK_Assessments_Subjects]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [FK_Assessments_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [FK_Assessments_Teachers]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [FK_Assessments_Types] FOREIGN KEY([AssessmentTypeId])
REFERENCES [dbo].[AssessmentTypes] ([AssessmentTypeId])
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [FK_Assessments_Types]
GO
ALTER TABLE [dbo].[AssessmentSkillEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_Evaluations_Marks] FOREIGN KEY([StudentMarkId])
REFERENCES [dbo].[StudentMarks] ([StudentMarkId])
GO
ALTER TABLE [dbo].[AssessmentSkillEvaluations] CHECK CONSTRAINT [FK_Evaluations_Marks]
GO
ALTER TABLE [dbo].[AssessmentSkillEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_Evaluations_Skills] FOREIGN KEY([SkillAreaId])
REFERENCES [dbo].[SkillAreas] ([SkillAreaId])
GO
ALTER TABLE [dbo].[AssessmentSkillEvaluations] CHECK CONSTRAINT [FK_Evaluations_Skills]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Lessons] FOREIGN KEY([LessonSessionId])
REFERENCES [dbo].[LessonSessions] ([LessonSessionId])
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [FK_Attendance_Lessons]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_RecordedBy] FOREIGN KEY([RecordedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [FK_Attendance_RecordedBy]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [FK_Attendance_Students]
GO
ALTER TABLE [dbo].[ChatGroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_CGM_Groups] FOREIGN KEY([ChatGroupId])
REFERENCES [dbo].[ChatGroups] ([ChatGroupId])
GO
ALTER TABLE [dbo].[ChatGroupMembers] CHECK CONSTRAINT [FK_CGM_Groups]
GO
ALTER TABLE [dbo].[ChatGroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_CGM_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ChatGroupMembers] CHECK CONSTRAINT [FK_CGM_Users]
GO
ALTER TABLE [dbo].[ChatGroups]  WITH CHECK ADD  CONSTRAINT [FK_ChatGroups_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassId])
GO
ALTER TABLE [dbo].[ChatGroups] CHECK CONSTRAINT [FK_ChatGroups_Classes]
GO
ALTER TABLE [dbo].[ChatGroups]  WITH CHECK ADD  CONSTRAINT [FK_ChatGroups_SchoolYears] FOREIGN KEY([SchoolYearId])
REFERENCES [dbo].[SchoolYears] ([SchoolYearId])
GO
ALTER TABLE [dbo].[ChatGroups] CHECK CONSTRAINT [FK_ChatGroups_SchoolYears]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Groups] FOREIGN KEY([ChatGroupId])
REFERENCES [dbo].[ChatGroups] ([ChatGroupId])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Groups]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Users] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Users]
GO
ALTER TABLE [dbo].[ClassEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_ClassEnrollments_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassId])
GO
ALTER TABLE [dbo].[ClassEnrollments] CHECK CONSTRAINT [FK_ClassEnrollments_Classes]
GO
ALTER TABLE [dbo].[ClassEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_ClassEnrollments_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[ClassEnrollments] CHECK CONSTRAINT [FK_ClassEnrollments_Students]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Grades] FOREIGN KEY([GradeId])
REFERENCES [dbo].[Grades] ([GradeId])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Grades]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_HomeroomTeacher] FOREIGN KEY([HomeroomTeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_HomeroomTeacher]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_SchoolYears] FOREIGN KEY([SchoolYearId])
REFERENCES [dbo].[SchoolYears] ([SchoolYearId])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_SchoolYears]
GO
ALTER TABLE [dbo].[FeedbackTickets]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Handler] FOREIGN KEY([HandledBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[FeedbackTickets] CHECK CONSTRAINT [FK_Feedback_Handler]
GO
ALTER TABLE [dbo].[FeedbackTickets]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Sender] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[FeedbackTickets] CHECK CONSTRAINT [FK_Feedback_Sender]
GO
ALTER TABLE [dbo].[FeedbackTickets]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Students] FOREIGN KEY([RelatedStudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[FeedbackTickets] CHECK CONSTRAINT [FK_Feedback_Students]
GO
ALTER TABLE [dbo].[LearningPathItems]  WITH CHECK ADD  CONSTRAINT [FK_LPI_Paths] FOREIGN KEY([LearningPathId])
REFERENCES [dbo].[LearningPaths] ([LearningPathId])
GO
ALTER TABLE [dbo].[LearningPathItems] CHECK CONSTRAINT [FK_LPI_Paths]
GO
ALTER TABLE [dbo].[LearningPathItems]  WITH CHECK ADD  CONSTRAINT [FK_LPI_Resources] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[StudyResources] ([ResourceId])
GO
ALTER TABLE [dbo].[LearningPathItems] CHECK CONSTRAINT [FK_LPI_Resources]
GO
ALTER TABLE [dbo].[LearningPathItems]  WITH CHECK ADD  CONSTRAINT [FK_LPI_Skills] FOREIGN KEY([SkillAreaId])
REFERENCES [dbo].[SkillAreas] ([SkillAreaId])
GO
ALTER TABLE [dbo].[LearningPathItems] CHECK CONSTRAINT [FK_LPI_Skills]
GO
ALTER TABLE [dbo].[LearningPaths]  WITH CHECK ADD  CONSTRAINT [FK_LearningPaths_AiRuns] FOREIGN KEY([AiRunId])
REFERENCES [dbo].[AiRecommendationRuns] ([AiRunId])
GO
ALTER TABLE [dbo].[LearningPaths] CHECK CONSTRAINT [FK_LearningPaths_AiRuns]
GO
ALTER TABLE [dbo].[LearningPaths]  WITH CHECK ADD  CONSTRAINT [FK_LearningPaths_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[LearningPaths] CHECK CONSTRAINT [FK_LearningPaths_Students]
GO
ALTER TABLE [dbo].[LearningPaths]  WITH CHECK ADD  CONSTRAINT [FK_LearningPaths_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[LearningPaths] CHECK CONSTRAINT [FK_LearningPaths_Subjects]
GO
ALTER TABLE [dbo].[LessonSessions]  WITH CHECK ADD  CONSTRAINT [FK_LessonSessions_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassId])
GO
ALTER TABLE [dbo].[LessonSessions] CHECK CONSTRAINT [FK_LessonSessions_Classes]
GO
ALTER TABLE [dbo].[LessonSessions]  WITH CHECK ADD  CONSTRAINT [FK_LessonSessions_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[LessonSessions] CHECK CONSTRAINT [FK_LessonSessions_Subjects]
GO
ALTER TABLE [dbo].[LessonSessions]  WITH CHECK ADD  CONSTRAINT [FK_LessonSessions_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[LessonSessions] CHECK CONSTRAINT [FK_LessonSessions_Teachers]
GO
ALTER TABLE [dbo].[LessonSessions]  WITH CHECK ADD  CONSTRAINT [FK_LessonSessions_Timetable] FOREIGN KEY([TimetableSlotId])
REFERENCES [dbo].[TimetableSlots] ([TimetableSlotId])
GO
ALTER TABLE [dbo].[LessonSessions] CHECK CONSTRAINT [FK_LessonSessions_Timetable]
GO
ALTER TABLE [dbo].[NewsPosts]  WITH CHECK ADD  CONSTRAINT [FK_News_Users] FOREIGN KEY([AuthorUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[NewsPosts] CHECK CONSTRAINT [FK_News_Users]
GO
ALTER TABLE [dbo].[NotificationRecipients]  WITH CHECK ADD  CONSTRAINT [FK_NR_Notifications] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notifications] ([NotificationId])
GO
ALTER TABLE [dbo].[NotificationRecipients] CHECK CONSTRAINT [FK_NR_Notifications]
GO
ALTER TABLE [dbo].[NotificationRecipients]  WITH CHECK ADD  CONSTRAINT [FK_NR_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[NotificationRecipients] CHECK CONSTRAINT [FK_NR_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[Parents]  WITH CHECK ADD  CONSTRAINT [FK_Parents_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Parents] CHECK CONSTRAINT [FK_Parents_Users]
GO
ALTER TABLE [dbo].[RegistrationRequests]  WITH CHECK ADD  CONSTRAINT [FK_RegReq_ReviewedBy] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[RegistrationRequests] CHECK CONSTRAINT [FK_RegReq_ReviewedBy]
GO
ALTER TABLE [dbo].[Semesters]  WITH CHECK ADD  CONSTRAINT [FK_Semesters_SchoolYears] FOREIGN KEY([SchoolYearId])
REFERENCES [dbo].[SchoolYears] ([SchoolYearId])
GO
ALTER TABLE [dbo].[Semesters] CHECK CONSTRAINT [FK_Semesters_SchoolYears]
GO
ALTER TABLE [dbo].[SkillAreas]  WITH CHECK ADD  CONSTRAINT [FK_SkillAreas_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[SkillAreas] CHECK CONSTRAINT [FK_SkillAreas_Subjects]
GO
ALTER TABLE [dbo].[StudentGradeProgressions]  WITH CHECK ADD FOREIGN KEY([schoolYearId])
REFERENCES [dbo].[SchoolYears] ([SchoolYearId])
GO
ALTER TABLE [dbo].[StudentGradeProgressions]  WITH CHECK ADD FOREIGN KEY([studentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[StudentMarks]  WITH CHECK ADD  CONSTRAINT [FK_StudentMarks_Assessments] FOREIGN KEY([AssessmentId])
REFERENCES [dbo].[Assessments] ([AssessmentId])
GO
ALTER TABLE [dbo].[StudentMarks] CHECK CONSTRAINT [FK_StudentMarks_Assessments]
GO
ALTER TABLE [dbo].[StudentMarks]  WITH CHECK ADD  CONSTRAINT [FK_StudentMarks_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[StudentMarks] CHECK CONSTRAINT [FK_StudentMarks_Students]
GO
ALTER TABLE [dbo].[StudentMarks]  WITH CHECK ADD  CONSTRAINT [FK_StudentMarks_Teachers] FOREIGN KEY([GradedBy])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[StudentMarks] CHECK CONSTRAINT [FK_StudentMarks_Teachers]
GO
ALTER TABLE [dbo].[StudentParentLinks]  WITH CHECK ADD  CONSTRAINT [FK_SPL_Parents] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Parents] ([ParentId])
GO
ALTER TABLE [dbo].[StudentParentLinks] CHECK CONSTRAINT [FK_SPL_Parents]
GO
ALTER TABLE [dbo].[StudentParentLinks]  WITH CHECK ADD  CONSTRAINT [FK_SPL_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[StudentParentLinks] CHECK CONSTRAINT [FK_SPL_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[StudyResources]  WITH CHECK ADD  CONSTRAINT [FK_Resources_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassId])
GO
ALTER TABLE [dbo].[StudyResources] CHECK CONSTRAINT [FK_Resources_Classes]
GO
ALTER TABLE [dbo].[StudyResources]  WITH CHECK ADD  CONSTRAINT [FK_Resources_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[StudyResources] CHECK CONSTRAINT [FK_Resources_Subjects]
GO
ALTER TABLE [dbo].[StudyResources]  WITH CHECK ADD  CONSTRAINT [FK_Resources_UploadedBy] FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudyResources] CHECK CONSTRAINT [FK_Resources_UploadedBy]
GO
ALTER TABLE [dbo].[TeacherClassAssignments]  WITH CHECK ADD  CONSTRAINT [FK_TCA_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassId])
GO
ALTER TABLE [dbo].[TeacherClassAssignments] CHECK CONSTRAINT [FK_TCA_Classes]
GO
ALTER TABLE [dbo].[TeacherClassAssignments]  WITH CHECK ADD  CONSTRAINT [FK_TCA_SchoolYears] FOREIGN KEY([SchoolYearId])
REFERENCES [dbo].[SchoolYears] ([SchoolYearId])
GO
ALTER TABLE [dbo].[TeacherClassAssignments] CHECK CONSTRAINT [FK_TCA_SchoolYears]
GO
ALTER TABLE [dbo].[TeacherClassAssignments]  WITH CHECK ADD  CONSTRAINT [FK_TCA_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[TeacherClassAssignments] CHECK CONSTRAINT [FK_TCA_Subjects]
GO
ALTER TABLE [dbo].[TeacherClassAssignments]  WITH CHECK ADD  CONSTRAINT [FK_TCA_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[TeacherClassAssignments] CHECK CONSTRAINT [FK_TCA_Teachers]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Subjects]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Users]
GO
ALTER TABLE [dbo].[TimetableSlots]  WITH CHECK ADD  CONSTRAINT [FK_Timetable_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassId])
GO
ALTER TABLE [dbo].[TimetableSlots] CHECK CONSTRAINT [FK_Timetable_Classes]
GO
ALTER TABLE [dbo].[TimetableSlots]  WITH CHECK ADD  CONSTRAINT [FK_Timetable_Semesters] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([SemesterId])
GO
ALTER TABLE [dbo].[TimetableSlots] CHECK CONSTRAINT [FK_Timetable_Semesters]
GO
ALTER TABLE [dbo].[TimetableSlots]  WITH CHECK ADD  CONSTRAINT [FK_Timetable_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[TimetableSlots] CHECK CONSTRAINT [FK_Timetable_Subjects]
GO
ALTER TABLE [dbo].[TimetableSlots]  WITH CHECK ADD  CONSTRAINT [FK_Timetable_Teachers] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[TimetableSlots] CHECK CONSTRAINT [FK_Timetable_Teachers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[AiKnowledgeChunks]  WITH CHECK ADD  CONSTRAINT [CK_AiKnowledgeChunks_MetaJson] CHECK  (([Metadata] IS NULL OR isjson([Metadata])=(1)))
GO
ALTER TABLE [dbo].[AiKnowledgeChunks] CHECK CONSTRAINT [CK_AiKnowledgeChunks_MetaJson]
GO
ALTER TABLE [dbo].[AiRecommendationRuns]  WITH CHECK ADD  CONSTRAINT [CK_AiRuns_Confidence] CHECK  (([Confidence] IS NULL OR [Confidence]>=(0) AND [Confidence]<=(100)))
GO
ALTER TABLE [dbo].[AiRecommendationRuns] CHECK CONSTRAINT [CK_AiRuns_Confidence]
GO
ALTER TABLE [dbo].[AiRecommendationRuns]  WITH CHECK ADD  CONSTRAINT [CK_AiRuns_InputJson] CHECK  ((isjson([InputSnapshot])=(1)))
GO
ALTER TABLE [dbo].[AiRecommendationRuns] CHECK CONSTRAINT [CK_AiRuns_InputJson]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [CK_Assessments_MaxScore] CHECK  (([MaxScore]>(0)))
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [CK_Assessments_MaxScore]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [CK_Assessments_Status] CHECK  (([Status]='CANCELLED' OR [Status]='COMPLETED' OR [Status]='SCHEDULED'))
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [CK_Assessments_Status]
GO
ALTER TABLE [dbo].[Assessments]  WITH CHECK ADD  CONSTRAINT [CK_Assessments_Weight] CHECK  (([Weight]>(0)))
GO
ALTER TABLE [dbo].[Assessments] CHECK CONSTRAINT [CK_Assessments_Weight]
GO
ALTER TABLE [dbo].[AssessmentSkillEvaluations]  WITH CHECK ADD  CONSTRAINT [CK_Evaluations_EvidenceJson] CHECK  (([Evidence] IS NULL OR isjson([Evidence])=(1)))
GO
ALTER TABLE [dbo].[AssessmentSkillEvaluations] CHECK CONSTRAINT [CK_Evaluations_EvidenceJson]
GO
ALTER TABLE [dbo].[AssessmentSkillEvaluations]  WITH CHECK ADD  CONSTRAINT [CK_Evaluations_Mastery] CHECK  (([MasteryLevel] IS NULL OR [MasteryLevel]>=(0) AND [MasteryLevel]<=(100)))
GO
ALTER TABLE [dbo].[AssessmentSkillEvaluations] CHECK CONSTRAINT [CK_Evaluations_Mastery]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [CK_Attendance_Status] CHECK  (([Status]='EXCUSED' OR [Status]='LATE' OR [Status]='ABSENT' OR [Status]='PRESENT'))
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [CK_Attendance_Status]
GO
ALTER TABLE [dbo].[ChatGroups]  WITH CHECK ADD  CONSTRAINT [CK_ChatGroups_Type] CHECK  (([GroupType]='PARENT_TEACHER' OR [GroupType]='STUDENT_TEACHER'))
GO
ALTER TABLE [dbo].[ChatGroups] CHECK CONSTRAINT [CK_ChatGroups_Type]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [CK_ChatMessages_Content] CHECK  (([MessageText] IS NOT NULL OR [AttachmentUrl] IS NOT NULL))
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [CK_ChatMessages_Content]
GO
ALTER TABLE [dbo].[ClassEnrollments]  WITH CHECK ADD  CONSTRAINT [CK_ClassEnrollments_Date] CHECK  (([LeftAt] IS NULL OR [LeftAt]>=[EnrolledAt]))
GO
ALTER TABLE [dbo].[ClassEnrollments] CHECK CONSTRAINT [CK_ClassEnrollments_Date]
GO
ALTER TABLE [dbo].[ClassEnrollments]  WITH CHECK ADD  CONSTRAINT [CK_ClassEnrollments_Status] CHECK  (([Status]='COMPLETED' OR [Status]='LEFT' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[ClassEnrollments] CHECK CONSTRAINT [CK_ClassEnrollments_Status]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [CK_Classes_Training] CHECK  (([TrainingProgram]='REVISION' OR [TrainingProgram]='REGULAR'))
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [CK_Classes_Training]
GO
ALTER TABLE [dbo].[FeedbackTickets]  WITH CHECK ADD  CONSTRAINT [CK_Feedback_Status] CHECK  (([Status]='CLOSED' OR [Status]='RESOLVED' OR [Status]='IN_PROGRESS' OR [Status]='OPEN'))
GO
ALTER TABLE [dbo].[FeedbackTickets] CHECK CONSTRAINT [CK_Feedback_Status]
GO
ALTER TABLE [dbo].[LearningPathItems]  WITH CHECK ADD  CONSTRAINT [CK_LearningPathItems_Priority] CHECK  (([Priority]>=(1) AND [Priority]<=(5)))
GO
ALTER TABLE [dbo].[LearningPathItems] CHECK CONSTRAINT [CK_LearningPathItems_Priority]
GO
ALTER TABLE [dbo].[LearningPathItems]  WITH CHECK ADD  CONSTRAINT [CK_LearningPathItems_Status] CHECK  (([Status]='SKIPPED' OR [Status]='DONE' OR [Status]='IN_PROGRESS' OR [Status]='TODO'))
GO
ALTER TABLE [dbo].[LearningPathItems] CHECK CONSTRAINT [CK_LearningPathItems_Status]
GO
ALTER TABLE [dbo].[LearningPaths]  WITH CHECK ADD  CONSTRAINT [CK_LearningPaths_Status] CHECK  (([Status]='CANCELLED' OR [Status]='PAUSED' OR [Status]='COMPLETED' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[LearningPaths] CHECK CONSTRAINT [CK_LearningPaths_Status]
GO
ALTER TABLE [dbo].[LessonSessions]  WITH CHECK ADD  CONSTRAINT [CK_LessonSessions_Status] CHECK  (([Status]='CANCELLED' OR [Status]='COMPLETED' OR [Status]='SCHEDULED'))
GO
ALTER TABLE [dbo].[LessonSessions] CHECK CONSTRAINT [CK_LessonSessions_Status]
GO
ALTER TABLE [dbo].[NewsPosts]  WITH CHECK ADD  CONSTRAINT [CK_News_Status] CHECK  (([Status]='ARCHIVED' OR [Status]='PUBLISHED' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[NewsPosts] CHECK CONSTRAINT [CK_News_Status]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notifications_Target] CHECK  (([TargetType]='TEACHER' OR [TargetType]='PARENT' OR [TargetType]='STUDENT' OR [TargetType]='CLASS' OR [TargetType]='ROLE' OR [TargetType]='ALL'))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notifications_Target]
GO
ALTER TABLE [dbo].[RegistrationRequests]  WITH CHECK ADD  CONSTRAINT [CK_RegReq_Role] CHECK  (([RoleRequested]='teacher' OR [RoleRequested]='parent' OR [RoleRequested]='student'))
GO
ALTER TABLE [dbo].[RegistrationRequests] CHECK CONSTRAINT [CK_RegReq_Role]
GO
ALTER TABLE [dbo].[RegistrationRequests]  WITH CHECK ADD  CONSTRAINT [CK_RegReq_Status] CHECK  (([Status]='REJECTED' OR [Status]='APPROVED' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[RegistrationRequests] CHECK CONSTRAINT [CK_RegReq_Status]
GO
ALTER TABLE [dbo].[SchoolYears]  WITH CHECK ADD  CONSTRAINT [CK_SchoolYears_Date] CHECK  (([StartDate]<[EndDate]))
GO
ALTER TABLE [dbo].[SchoolYears] CHECK CONSTRAINT [CK_SchoolYears_Date]
GO
ALTER TABLE [dbo].[Semesters]  WITH CHECK ADD  CONSTRAINT [CK_Semesters_Date] CHECK  (([StartDate]<[EndDate]))
GO
ALTER TABLE [dbo].[Semesters] CHECK CONSTRAINT [CK_Semesters_Date]
GO
ALTER TABLE [dbo].[StudentMarks]  WITH CHECK ADD  CONSTRAINT [CK_StudentMarks_Score] CHECK  (([Score]>=(0)))
GO
ALTER TABLE [dbo].[StudentMarks] CHECK CONSTRAINT [CK_StudentMarks_Score]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [CK_Students_Status] CHECK  (([Status]='SUSPENDED' OR [Status]='GRADUATED' OR [Status]='TRANSFERRED' OR [Status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [CK_Students_Status]
GO
ALTER TABLE [dbo].[StudyResources]  WITH CHECK ADD  CONSTRAINT [CK_Resources_Type] CHECK  (([ResourceType]='LINK' OR [ResourceType]='DOCUMENT' OR [ResourceType]='PDF' OR [ResourceType]='VIDEO' OR [ResourceType]='IMAGE'))
GO
ALTER TABLE [dbo].[StudyResources] CHECK CONSTRAINT [CK_Resources_Type]
GO
ALTER TABLE [dbo].[StudyResources]  WITH CHECK ADD  CONSTRAINT [CK_Resources_Visibility] CHECK  (([Visibility]='TEACHER_ONLY' OR [Visibility]='SCHOOL' OR [Visibility]='CLASS_ONLY'))
GO
ALTER TABLE [dbo].[StudyResources] CHECK CONSTRAINT [CK_Resources_Visibility]
GO
ALTER TABLE [dbo].[TimetableSlots]  WITH CHECK ADD  CONSTRAINT [CK_Timetable_Day] CHECK  (([DayOfWeek]>=(1) AND [DayOfWeek]<=(7)))
GO
ALTER TABLE [dbo].[TimetableSlots] CHECK CONSTRAINT [CK_Timetable_Day]
GO
ALTER TABLE [dbo].[TimetableSlots]  WITH CHECK ADD  CONSTRAINT [CK_Timetable_Period] CHECK  (([PeriodNo]>(0)))
GO
ALTER TABLE [dbo].[TimetableSlots] CHECK CONSTRAINT [CK_Timetable_Period]
GO
ALTER TABLE [dbo].[TimetableSlots]  WITH CHECK ADD  CONSTRAINT [CK_Timetable_Time] CHECK  (([StartTime]<[EndTime]))
GO
ALTER TABLE [dbo].[TimetableSlots] CHECK CONSTRAINT [CK_Timetable_Time]
GO
USE [master]
GO
